body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at center, #090952, #11111f);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 450px;
    margin: 0 auto;
    padding: 25px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container h1 {
    margin-bottom: 1px;
}

.form-wrapper {
    display: flex;
    justify-content: space-between;
}

.form-box {
    flex: 1;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 25px;
}

.form-box h2 {
    margin-bottom: 10px;
}

.form-box input[type="text"],
.form-box input[type="email"],
.form-box input[type="password"],
.form-box button[type="submit"] {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.container button[type="submit"]:hover {
    background-color: #45a049;
}

#message {
    margin-top: 10px;
}
